body {
	font-family: sans-serif;
	text-align: center;
}
nav{
	border: 1px;
	align-content: baseline;
	font-family: sans-serif;
	text-align: center;
}


nav a{
	padding-right: 1em;
	margin-right: 1em;
}

nav a:hover {
	text-decoration: underline;
}