.about {
  display: flex;
  flex-flow: column;
  align-content: flex-end;
  text-align: justify-all;
  width: 420pt;
  margin: 0 auto;
  border-radius: 8pt;
  background-color: rgba(46, 52, 64, 0.46);
}

.hamster-tap {
  height: fit-content;
  align-self: center;
  width: 220pt;
}