/*theme : https://www.nordtheme.com/*/
.caption {
    text-align: center;
}

#gallery {
    background: none;
    display: flex;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    justify-content: flex-start;
    overflow: scroll;
    width: 100%;
}

article {
    background-color: rgb(46, 52, 64);
    display: block;
    text-align: justify;
    height: fit-content;
   color: aliceblue;
}



    .image {
        height: 200pt;
        width: 300pt;
        padding: 5px;
        border-radius: 10pt;
    }

    article {
        border-radius: 20pt;
        width: 350pt;
        height: fit-content;
        padding: 8pt;
        margin: 15pt;
    }




@media (min-width: 1080px) {
    .image {
        height: 200pt;
        width: 300pt;
        padding: 5px;
        border-radius: 10pt;
    }

    article {
        border-radius: 20pt;
        width: 400px;
        height: fit-content;
        padding: 8pt;
        margin: 15pt;
    }

}

@media (min-width: 1750px) {
    .image {
        height: 250pt;
        width: 450pt;
        padding: 5px;
        border-radius: 10pt;
    }

    article {
        border-radius: 20pt;
        width: 500px;
        height: fit-content;
        padding: 8pt;
        margin: 15pt;
        flex: 0 26%;
    }

}


.dock {
    text-align: center;
    display: block;
    padding: 2pt;
    font-size: large;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}