/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */

body {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

p,
button {
  margin: var(--size-6);
}

body > picture,
.visualizer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 100%;
}

.buttons {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: 100%;
  background-color: rgba(47, 46, 54, 0.76);
}

.buttons.button {
  flex-grow: 1;
  margin-left: auto;
  text-align: center;
}

.chart{
  flex-grow: 1;
  padding-left: 1pt;
  margin-left: auto;
}

.info_table{
  overflow-block: scroll;
  overflow-y: auto;
  overflow-x: auto;
  width:fit-content;
  height: 400pt;
  overflow-wrap: anywhere;
}
.info_table pre {
  white-space: pre;    /* prevents line wrapping */
}