/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */

body {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

p,
button {
  margin: var(--size-6);
}

body > picture,



.visualizer{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 100% ;
}

.buttons {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 90vh;
  background-color: rgba(47, 46, 54, 0.76);
}

.buttons.button {
  flex-grow: 1;
  margin-left: auto;
  text-align: center;
}
