/*theme : https://www.nordtheme.com/*/
body {
    font-family: 'Ubuntu', 'Caladea', 'Lucida sans' ,'sans-serif';
}



.caption {
    text-align: center;
}

#gallery {
    background: none;
    display: flex;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    justify-content: flex-start;
    width: 100%
}

article {
    background-color: rgb(46, 52, 64);
    display: block;
    text-align: justify;
    height: fit-content;
   color: aliceblue;
}


@media (min-width: 440px) {
    .image {
        height: 225pt;
        width: 325pt;
        padding: 5px;
        border-radius: 10pt;
    }

    article {
        border-radius: 20pt;
        width: 450px;
        height: fit-content;
        padding: 8pt;
        margin: 15pt;

    }

}


@media (min-width: 1080px) {
    .image {
        height: 300pt;
        width: 400pt;
        padding: 5px;
        border-radius: 10pt;
    }

    article {
        border-radius: 20pt;
        width: 540px;
        height: fit-content;
        padding: 8pt;
        margin: 15pt;
        flex: 0 16%;
    }

}

@media (min-width: 1750px) {
    .image {
        height: 300pt;
        width: 400pt;
        padding: 5px;
        border-radius: 10pt;
    }

    article {
        border-radius: 20pt;
        width: 550px;
        padding: 8pt;
        margin: 15pt;
        flex: 0 26%;
    }

}


.dock {
    text-align: center;
    display: block;
    padding: 2pt;
    font-size: large;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}